<% if @q.present? %>
	<%= search_form_for @q, url: :questions do |form| %>
		<div class="form-group">
			<%#= form.label %>
			<%= form.text_field :keyword_cont, class:"form-control", id: "search_input" %>
		</div>
		<div class="form-group">
			<%= form.submit class: "btn btn-success", id: "search_submit" %>
		</div>
	<% end %>
<%# else %>
		<%# <p class="lead text-center ">No Record Found</p> %>
<% end %>	

<!-- Add this to your application layout file or a separate JavaScript file -->
<script>
  $(document).ready(function() {
    $('#search_input').on('input', function() {
      var searchText = $(this).val().trim();
      $('#search_submit').toggle(searchText !== '');
    });
  });
</script>
